

/* ********** */
* {
  padding: 0px;
  margin: 0px;
}

.slider_card {
 width: 300px; text-align: left;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.slider_card #para,
.slider_card #blook,
.slider_card #wt,
.slider_card #heading{
  margin: 0;
}
.slider_carddd #para,
.slider_carddd #blook,
.slider_carddd #wt,
.slider_carddd #heading{
  margin: 0;
  text-align: left;
}
#image {
  /* border: 1px solid black ; */
  height: "300px";
  border-radius: 10px 10px 0px 0px;
  width: "375px";
}
#slider1 .chakra-skeleton{
  display: flex;
}
#image > img {
  border-radius: 10px 10px 0px 0px;
}
#heading {
  /* border: 1px solid red; */
  width: 90%;
  height: 20px;overflow: hidden;
  margin: auto;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}
#para {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  font-size: 13px;
  margin-left: 15px;
  height: 20px;overflow: hidden;
}
#wt {
  /* border: 1px solid red; */
  font-size: 13px;
  margin-left: 15px;
  margin-top: 8px;
  font-weight: 500;
  color: #4e565d;
}
#blook {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: left;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
}
